<.simple_form :let={f} for={@changeset} action={@action}>
  <.error :if={@changeset.action}>
    Oops, something went wrong! Please check the errors below.
  </.error>
  <.input field={f[:password_name]} type="text" label="Name" />
  <.input field={f[:password_id]} type="number" label="password" />
  <:actions>
    <.button>Save password</.button>
  </:actions>
</.simple_form>
