<.header>
  New Directory
  <:subtitle>Use this form to manage directory records in your database.</:subtitle>
</.header>

<.directory_form changeset={@changeset} action={~p"/directories"} />

<.back navigate={~p"/directories"}>Back to directories</.back>
