<.header>
  Directory {@directory.directory_name}
  <:subtitle>This is a directory record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/directories/#{@directory}/edit"}>
      <.button>Edit directory</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Directory name">{@directory.directory_name}</:item>
</.list>

<.back navigate={~p"/directories"}>Back to directories</.back>
